@use '../styles/variables.scss' as variables;
@use '../styles/containers.scss' as containers;

.links {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: variables.$blue;
  padding: 20px;

  .inlineFlex {
    display: inline-flex;
    margin: 0 10px;
  }

  .buttonList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    width: 140px;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: variables.$green;
    color: white;
    border: none;
    margin: 10px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
  }

  .socialList {
    display: flex;
    justify-content: space-evenly;
  }
}