@use '../styles/variables.scss' as variables;
@use '../styles/containers.scss' as containers;

.shows {
  border-top: 10px solid black;
  background-color: variables.$green;

  .bit-follow-section-cta {
    text-transform: none;
  }

  .bit-nav-bar-container,
  .bit-upcoming-events {
    background-color: #53de03;
  }
}