@use './variables.scss' as variables;
@use './containers.scss' as containers;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  color: white;
}

@font-face {
  font-family: "marker";
  src: url("/fonts/PermanentMarker-Regular.ttf");
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 5.5vw;
  font-family: "marker";
  letter-spacing: 0.25rem;
  margin: 0;
  padding: 10px 20px;
}

@supports (-webkit-text-stroke: 2px #353535) {
  h2 {
    -webkit-text-stroke: 2px #353535;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 0rem;

    .desktop-only {
      display: none;
    }
  }
}

.bit-widget .bit-play-my-city-wrapper {
  display: none !important;
}